@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
footer {
  width: 1600px;
  height: 300px;
  background-color: purple;
  margin-top: 100%;
}

footer table {
  position: relative;
  color: white;
  font-weight: 100%;
  font-family: Audiowide;
  left: 650px;
  top: 200px;
}

footer .lol {
  position: relative;
  color: white;
  font-family: Audiowide;
  font-weight: 100%;
  font-size: 60px;
  bottom: 60px;
  text-shadow: 0px 11px 20px white;
}

footer .rule {
  position: relative;
  color: white;
  font-family: Audiowide;
  font-weight: 100%;
  font-size: 24px;
  right: 700px;
  top: 50px;
}

footer button {
  position: relative;
  padding: 10px 50px;
  border-radius: 9px;
  display: inline-block;
  right: 1020px;
  top: 120px;
  background-color: white;
  color: purple;
=======
=======
/*text settings in <main>*/
.aboba .first_aboba_header, .aboba .first_aboba_text, .aboba_negr .aboba_negr_text, .main_aboba .main_aboba_header, .main_aboba .main_aboba_text, .sasha_aboba .sasha_aboba_text, .anonymus_army .jew_army, .Rickroll {
  font-family: Audiowide;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 48px;
  color: white;
  text-align: center;
}

/*div settings in <main> (position not included)*/
.aboba, .aboba_negr, .main_aboba, .sasha_aboba, .anonymus_army, .Rickroll {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 121px;
  border: 2px solid white;
}

body {
  height: 4400px;
  position: relative;
  background-image: url("../img/background.png");
  background-size: cover;
}

/*Саша*/
main {
  position: relative;
}

.aboba {
  position: absolute;
  width: 553px;
  height: 389px;
  left: 26px;
  top: 222px;
}

.aboba .first_aboba_text {
  top: 300px;
}

.aboba_negr {
  position: absolute;
  width: 453px;
  height: 506px;
  left: 972px;
  top: 130px;
}

.aboba_negr .negr_and_pivo {
  position: absolute;
  width: 251px;
  height: 263px;
  left: 123px;
  top: 154px;
}

.main_aboba {
  position: absolute;
  width: 744px;
  height: 562px;
  left: 403px;
  top: 803px;
}

.sasha_aboba {
  position: absolute;
  width: 678px;
  height: 432px;
  left: 140px;
  top: 1786px;
}

.anonymus_army {
  position: absolute;
  width: 658px;
  height: 628px;
  left: 571px;
  top: 2698px;
}

.anonymus_army .anonymus_army_img {
  position: absolute;
  width: 580px;
  height: 332px;
  left: 30px;
  top: 200px;
}

.Rickroll {
  position: absolute;
  width: 658px;
  height: 220px;
  left: 571px;
  top: 3700px;
}

/*Саша*/
/*Максим*/
>>>>>>> ed186eef1a536c62cc0bf103446a98280649ae67
header {
  position: relative;
  height: 108px;
  width: 100%;
  background-color: #7C3766;
}

header .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container__header .title__header {
  position: relative;
  width: 196px;
  height: 90px;
  left: 26px;
  top: 9px;
  font-family: Audiowide;
  color: white;
  font-size: 64px;
  line-height: 82px;
  text-shadow: 0px 0px 108px #B87DBB;
}

header .container__header .navigation li {
  display: inline-block;
  padding: 40px 30px;
  font-family: Audiowide;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 10px #B87DBB;
}

header .container__header .navigation li a {
  text-decoration: none;
  position: relative;
  color: #fff;
}

header .container__header .navigation li a:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 40px;
  bottom: 30px;
  height: 0px;
  width: 0px;
  border-radius: 30px;
  background-color: #B87DBB;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

header .container__header .navigation li a:hover:after {
  height: 5px;
  width: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container__header .input {
  position: relative;
  top: 41px;
  right: 24px;
  text-align: center;
  border: rgba(255, 255, 255, 0);
  border-radius: 30px;
  background-color: #B87DBB;
  height: 26px;
  color: white;
  -webkit-box-shadow: 0px 0px 10px #B87DBB;
          box-shadow: 0px 0px 10px #B87DBB;
>>>>>>> 71de001c0180f00afffb2cba73d546d5b4e60042
}

/*Максим*/
