@import 'reset';
@import 'color';
@import 'шаблоны';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
<<<<<<< HEAD
<<<<<<< HEAD
footer{
    width: 1600px;
    height: 300px;
    background-color: purple;
    margin-top: 100%;
    table{
        position: relative;
        color: white;
        font-weight: 100%;
        font-family: Audiowide;
        left: 650px;
        top: 200px;
    }
    .lol{
        position: relative;
        color: white;
        font-family: Audiowide;
        font-weight: 100%;
        font-size: 60px;
        bottom: 60px;
        text-shadow: 0px 11px 20px white;
    }
    .rule{
        position: relative;
        color: white;
        font-family: Audiowide;
        font-weight: 100%;
        font-size: 24px;
        right: 700px;
        top: 50px;
    }
    button{
        position: relative;
        padding: 10px 50px;
        border-radius: 9px;
        display: inline-block;
        right: 1020px;
        top: 120px;
        background-color: white;
        color: purple; 
    }
}     
=======
=======

body{
    height: 4400px;
    position: relative;
    background-image: url('../img/background.png');
    background-size: cover;
}
/*Саша*/
main{
    position: relative;
}

.aboba{
    position: absolute;
    width: 553px;
    height: 389px;
    left: 26px;
    top: 222px;
    @extend %aboba_div;
    .first_aboba_header{
        @extend %aboba_text;
    }
    .first_aboba_text{
        top: 300px;
        @extend %aboba_text;
    }
}

.aboba_negr{
    position: absolute;
    width: 453px;
    height: 506px;
    left: 972px;
    top: 130px;
    @extend %aboba_div;
    .aboba_negr_text{
        @extend %aboba_text;
    }
    .negr_and_pivo{
        position: absolute;
        width: 251px;
        height: 263px;
        left: 123px;
        top: 154px;
    }
    .aboba_negr_text{
        @extend %aboba_text;
    }
}

.main_aboba{
    position: absolute;
    width: 744px;
    height: 562px;
    left: 403px;
    top: 803px;
    @extend %aboba_div;
    .main_aboba_header{
        @extend %aboba_text;
    }
    .main_aboba_text{
        @extend %aboba_text;
    }
}

.sasha_aboba{
    position: absolute;
    width: 678px;
    height: 432px;
    left: 140px;
    top: 1786px;
    @extend %aboba_div;
    .sasha_aboba_text{
        @extend %aboba_text;
    }
}

.anonymus_army{
    position: absolute;
    width: 658px;
    height: 628px;
    left: 571px;
    top: 2698px;
    @extend %aboba_div;
    .anonymus_army_img{
        position: absolute;
        width: 580px;
        height: 332px;
        left: 30px;
        top: 200px;
    }
    .jew_army{
        @extend %aboba_text
    }
}

.Rickroll{
    position: absolute;
    width: 658px;
    height: 220px;
    left: 571px;
    top: 3700px;
    @extend %aboba_div;
    @extend %aboba_text;
}
/*Саша*/
/*Максим*/
>>>>>>> ed186eef1a536c62cc0bf103446a98280649ae67
header{
	position: relative;
	height: 108px;
	width: 100%;
	background-color: $colorOfheader;
	.container__header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.title__header{
			position: relative;
			width: 196px;
			height: 90px;
			left: 26px;
			top: 9px;
			font-family: Audiowide;
			color: white;
			font-size: 64px;
			line-height: 82px;
			text-shadow: 0px 0px 108px $colorOfshadow;
		}
		.navigation li{
			display: inline-block;
			padding: 40px 30px;
			font-family: Audiowide;
			font-size: 36px;
			font-weight: 400;
			color: #fff;
			text-shadow: 0px 0px 10px $colorOfshadow;
			a{
				text-decoration: none;
				position: relative;
				color: #fff;
			}
			a:after {
				content: "";
				position: absolute;
				left:0px;
				top: 40px;
				bottom:30px;
				height: 0px;
				width: 0px;
				border-radius: 30px;
				background-color:$colorOfshadow;
				transition: 0.3s;
				box-shadow: 0px 0px 10px;
			}
			a:hover:after{
				height: 5px;
				width: 100px;
				transition: 0.3s;
			}
		}
		.input{
			position: relative;
			top: 41px;
			right: 24px;
			text-align: center;
			border: rgba(255, 255, 255, 0);
			border-radius: 30px;
			background-color: $colorOfshadow;
			height: 26px;
			color: white;
			box-shadow: 0px 0px  10px $colorOfshadow;
		}
	}
}
<<<<<<< HEAD
>>>>>>> 71de001c0180f00afffb2cba73d546d5b4e60042
=======
/*Максим*/
>>>>>>> ed186eef1a536c62cc0bf103446a98280649ae67
